body {
	min-height: unset !important;
}
.unselectable {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.desc, codecarousel {
	display: inline-table;
	width: 48%;
}
.desc {
	font-family: arial, sans-serif;
	color: white;
}
@media screen and (max-width: 1000px) {
	.desc, codecarousel {
		display: block;
		max-width: 98%;
		width: 98%;
	}
	#counter {
		display: none !important;
	}
	codecarousel {
		overflow: auto;
	}
}
codescreen {
	display: block;
	overflow: hidden;
	background-color: #272822;
	padding: 4px;
	margin: 0;
	position: relative;
	border-radius: 4px;

	height:300px;width:480px;
}
codebox {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 3px;
	background-color: #272822;
	transition: opacity 0.3s;
}
#tracker {
	display: inline-block;
}
#code_pause {
	font-size: 9pt;
	color: white;
}
#code_pause:hover {
	color: #ffd343;
}
#code_pause.xactive {
	color: #ffd343;
	background-image: linear-gradient(#272822 10%,#334349 90%);
	position: relative;
	top: 1px;
}
.code_btn,
#tracker a {
	font-family: "Courier New", Courier, monospace;
	font-size: 12pt;
	color: #e6e8ea;
	background: #334349;
	background-image: linear-gradient(#334349 10%,#272822 90%);
	border: 1px solid #272822;
	opacity: 0.7;
	
	border-radius: 4px;
	padding: 4px 10px;
	margin: 4px;
	font-size: 16px;
	display: inline-block;
	cursor: pointer;
}
.code_btn,
#tracker a.xactive {
	color: #ffd343;
	background-color: #244e71;
	opacity: 1;
}
#tracker a:hover {
	opacity: 1;
}

codebox span,
codebox .S0 {
	font-family: 'DejaVu Sans Mono', "Courier New", Courier, monospace;
	color: #F8F8F2;
	font-size: 10pt;
}
codebox .S1 {
	font-style: italic;
	color: #75715E;
	font-size: 10pt;
}
codebox .S4 {
	color: #F92672;
	font-size: 10pt;
}
codebox .S5 {
	color: #F92672;
	font-size: 10pt;
}
codebox .S6 {
	color: #E6DB74;
	font-size: 10pt;
}
codebox .S8 {
	font-style: italic;
	color: #CF2F0F;
	font-size: 10pt;
}
codebox .S9 {
	color: #F4E982;
	background: #403D1C;
	text-decoration: inherit;
	font-size: 10pt;
}
codebox .S10 {
	color: #A6E22E;
	font-size: 10pt;
}
codebox .S11 {
	font-style: italic;
	color: #F92672;
	font-size: 10pt;
}
codebox .S12 {
	color: #EB939A;
	font-size: 10pt;
}
codebox .S15 {
	color: #FF00FF;
	background: #122127;
	text-decoration: inherit;
	font-size: 10pt;
}
codebox .S16 {
	font-style: italic;
	color: #66D9EF;
	font-size: 10pt;
}
codebox .S17 {
	font-style: italic;
	color: #FF8000;
	font-size: 10pt;
}
