#options {
	margin: auto;
	text-align: center;
	padding: 1.5em 0;
	font-size: 1.2em;
	line-height: 3;
}
#options td { padding: 0 1em; }
#options strong {
	font: 600 1.2em "Open Sans", Arial, sans-serif;
	color: #999;
}
#download-container { display: none; }
.download {
	font-size: 1.25em !important;
	margin-left: 0 !important;
}
ul.items {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
ul.items li { margin-bottom: 1em; }
